<h1>Our perfectly curated dance schools</h1>
{{#each schools}}
  <div class="row">
    <div class="col-2">
      <img width="100%" src="{{this.image}}" alt="{{this.school}}" />
    </div>
    <div class="col-8">
      <h2>{{this.school}}</h2>
      <h4>{{this.danceStyle}}</h4>
      <a href="/dance-school/{{this._id}}">See Details</a>
      <a href="/dance-school/{{this._id}}/reserve">Reserve a lesson now</a>
    </div>

  </div>
{{/each}}