{{#with danceSchoolDetails}}

	<h1>Studio: {{school}}</h1>

    <h2>Dance style: {{danceStyles}}</h2>

	<h3>Instructor: {{teacher}}</h3>

    <ul>
        <li>Date: {{days}}</li>
        <li>Time: {{time}}</li>
        <li>Price: {{price}}</li>
    </ul>

	<a href="/book/signup/{{_id}}">Book your slot for class ✅</a>
	<a href="/book/cancel/{{_id}}">Cancel your slot for class ❌</a>
	
{{/with}}
