{{#with dataFromUser}}
<h1>Our perfectly curated dance classes</h1>
<div>
  <h2>hello {{name}} </h2>

{{/with}}
  <button><a href="/my-trainings"> My classes </a></button>
  <button><a href="/edit-profile"> My profile </a></button>
</div>
<div>
  <h2>Sort by:</h2>
  <u>
    <ul><a href="/">Time</a></ul>
    <ul><a href="/user_namesort">Class title</a></ul>
    <ul><a href="/user_schoolsort">School </a></ul>
    <ul><a href="/user_dancestylesort">Style </a></ul>
  </u>
</div>
<div>
  <h2>Filter by hours</h2>
  <form action="/user_filtered_hours" method="POST"\>
  <label for="hour">From:</label> 
  <input id="hour" type="number" name="hour" value=19>
  
  <label for="end_hour">To:</label> 
  <input id="end_hour" type="number" name="end_hour" value=21>

  <button type="submit">Check now!</button>
  </form> 

</div>


{{#each trainings}}
<div class="row">
  <div class="col-2">
    <img width="100%" src="{{this.image}}" alt="{{this.school}}" />
  </div>
  <div class="col-8">
    <h1>{{name}}</h1>
    <h2>Studio: {{school}}</h1>

    <h2>Dance style: {{danceStyle}}</h2>

    <h3>Instructor: {{teacher}}</h3>

    <ul>
      <li>Time: {{time.hour}}:{{time.minute}}</li>
      <li>Price: {{price}}</li>
      {{!-- <li>Classes available on: </li>
      {{#each days}}
      {{#if this}}
      {{day}}
      //{{/each}} --}}
    </ul>

    <a href="/add-class/{{_id}}">Book your slot for class ✅</a>
    <a href="/book/cancel/{{_id}}">Cancel your slot for class ❌</a>
  </div>
</div>
{{/each}}

