<h2 class="title">My reserved lessons</h2>

{{#with userdetails}}

{{#each classes}}

<h3>{{name}}</h3>

<ul>
  <li>Level: {{level}}</li>
  <li>Dance style: {{danceStyle}}</li>
  <li>Studio: {{school}}</li>
  <li>Price: {{price}}</li>
  <li>Time: {{Time}}</li>
  <li>Day: 
    {{#each days}}
      {{day}} {{opt}}
    {{/each}}
  </li>
</ul>
<button type="button" class="btn btn-info">Delete your lesson</button>

{{/each}}

{{/with}}

<style>
  .title { background-color:salmon; position: absolute; left: 0; width: 100%;
  padding: 0px; padding-left: 0%; } .content { margin-top: 90%px; }
</style>