<h2>Edit your Dancing School</h2>
{{#with school}}
{{#if school}}
    <form action="/school/{{this._id}}/edit" method="POST">
      <div class="form-group">
        <label for="school">School Name</label>
        <input
          class="form-control"
          id="school"
          type="text"
          name="school"
          value="{{this.school}}"
        />
      </div>

      {{!-- <label for="image">Image</label> 
  <input id="image" type="text" name="image" value="{{ school.image }}"> --}}

      <div class="form-group mt-3">
        <label for="danceSyle">Dance Style</label>
        <select
          class="form-control"
          id="danceStyle"
          name="danceStyle"
          value="{{this.danceStyle}}"
        >
          <option></option>
          <option>Bachata</option>
          <option>Contemporary</option>
          <option>Modern</option>
          <option>Salsa</option>
          <option>Swing</option>
        </select>
      </div>

      <div class="mt-4">
        <button
          class="btn btn-outline-primary btn-lg btn-block col-12"
          type="submit"
        >Update Changes</button>
      </div>
    </form>
{{else}}
  <h3>No classes to edit</h3>
{{/if}}
{{/with}}