{{!-- <h1>Our perfectly curated dance schools</h1>
{{#each clients}}
    <img src="{{this.image}}" alt="{{this.school}}">
    <h2>{{this.school}}</h2>
    <h4>{{this.danceStyle}}</h4>
    <a href="/dance-school/{{ this._id }}">See Details</a>
    <a href="/dance-school/{{ this._id }}/reserve">Reserve a lesson now</a>
{{/each}} --}}