{{#with school}}
{{#if school}}
  <h1 class="title">{{this.school}}</h1>
  <div class="content row">
    <div class="col-2">
      <img width="100%" src="{{this.image}}" alt="{{this.school}}" />
    </div>
    <div class="col-8">
      <h4 class="mb-5">Dance Style: {{this.danceStyles}}</h4>
      <a href="/school/{{this._id}}/edit" class="btn btn-outline-primary">Edit
        your wonderful profile</a>
      <a href="/school/new" class="btn btn-outline-success">Create a new dance lesson</a>
    </div>
    <hr class="mt-5 mb-5" />
    <div class="row">
      {{#each classes}}
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{this.level}}</h6>
              <p class="card-text">{{this.danceStyle}}</p>
              <p class="card-text">{{this.teacher}}</p>
              {{!-- <p class="card-text">{{this.days}}</p> --}}
              <p class="card-text">{{this.time.hour}}:{{this.time.minute}}</p>
              <p class="card-text">{{this.price}}</p>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Check It Out</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <h3>There are no trainings listed</h3>
{{/if}}
{{/with}}


<style>
  .title { background-color:salmon; position: absolute; left: 0; width: 100%;
  padding: 5px; padding-left: 5%; } .content { margin-top: 90px; }
</style>